@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* .bor{
  border: 1px solid red;
}

.bor1{
  border: 1px solid rgb(136, 255, 0);
} */

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.title-description{
  margin-top: 30px;
}


/* ************style for navigation start *************/
.nav-logo{
  max-height: 60px;
  width: auto
}

.navbar{
  padding: .2rem;
}

.navbar-nav li{
  padding-right: 20px;
}

.nav-link{
  font-size: 0.9em !important;
  color: beige;
}
/* ************style for navigation end *************/


/*----------- background with countdown start ----------- */
.background-with-image{
  background-size: cover;
  min-height: 80vh;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.main-header{
  font-size: 5rem;
}

.title{
  position: absolute;
  width: 100%;
  height: 60%;
  /* display: flex; */
  /* flex-direction: row; */
}

.full-name{
  font-size: 1.2rem;
  position: absolute;
  width: 100%;
  height: 75%;
}

.timer-disc{
  font-size: .9rem;
  position: absolute;
  width: 100%;
  height:110%;
}

.timer{
  display: flex;
  position: absolute;
  width: 100%;
  height: 120%;
} 

.timer div{
  /* flex-basis: 100px; */
  margin-left: 4vw;
  margin-right: 4vw;
}

.timer p{
  font-size: 2rem;
  margin-bottom: -2vh;
}

/* .timeVariable{
  margin-top: ;
} */

/* to compleate +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media (max-width: 1300px) {
  .main-header{
    font-size: calc(1.525rem + 3.3vw);
  }
}




/*----------- background with countdown end ----------- */


/* ************style for footer start *************/
footer{
  background-color: #1b1a1a;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.footer a {
  color: #d5d5d5;
}

footer p{
  font-size: 0.7em;
}

hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

/* ************style for footer end *************/











/*---Media Queries --*/
@media (max-width: 992px) {
  

}
@media (max-width: 768px) {

}

@media (max-width: 576px) {

  .timer p{
    font-size: 1.5rem;
    margin-bottom: -2vh;
  }
  
}


@media (min-width: 970px) {

  .timer div{
    /* flex-basis: 100px; */
    margin-left: 2vw;
    margin-right: 2vw;
  }
}






/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








